{% extends 'base.html.twig' %}

{% block title %}
	Login
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row row-cols-1 justify-content-center">
			{% if error %}
				<div class="col-lg-8 mb-4">
					<div class="alert alert-danger shadow">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
				</div>
			{% endif %}
			<div class="col-lg-8 align-center mb-4">
				<div class="card shadow">
					<div class="card-body">
						<h1 class="card-title text-center">Login</h1>
						<hr class="my-2">
						<form method="post">
							<div class="form-group">
								<label for="inputUsername">Username</label>
								<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required>
							</div>
							<div class="form-group">
								<label for="inputPassword">Password</label>
								<input type="password" name="password" id="inputPassword" class="form-control" data-toggle="password" data-eye-class="bi" data-eye-open-class="bi-eye" data-eye-close-class="bi-eye-slash" required>
							</div>
							<div class="form-group form-check">
								<input type="checkbox" class="form-check-input" name="_remember_me" id="rememberMe">
								<label class="form-check-label" for="rememberMe">Remember me</label>
							</div>
							<div class="form-group mb-0">
								<button class="btn btn-block btn-primary" type="submit">Sign in</button>
							</div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="alert alert-info shadow">
					Not registered yet? Sign up
					<a href="#">here</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
	{{ parent() }}
	<script src="https://unpkg.com/bootstrap-show-password@1.2.1/dist/bootstrap-show-password.min.js"></script>
{% endblock %}
