body {
    font-family: 'Roboto', sans-serif;
}

.responsive-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.category-badge {
    pointer-events: none;
}