body {
    font-family: 'Roboto', sans-serif;
}

.responsive-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.category-badge {
    pointer-events: none;
}

.post {
    transition: transform .2s;
}

.post:hover {
    transform: scale(1.1);
    z-index: 1000;
}

.post-img {
    transition: ease-out .2s;
}

.post-img:hover {
    transform: scale(1.2);
}